body{
    background-color: black !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    margin: 0;
    padding: 0;
}
i{
    width: 100px;
}