.header > img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
    height: 84vh;

}

.header > h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.header > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .header > h1 {
        font-size: 2rem;
    }
    .header > h2 {
        font-size: 1.5rem;
    }
}
